@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

*{
	font-family: 'Poppins', sans-serif;
}

*{
	padding: 0;
}

a{
	text-decoration: none;
}

.nav{
	display: flex;
	flex-flow: row wrap;
	justify-content: stretch;
	padding:20px 50px;
}

.menu{
	display: flex;
	list-style: none;
	flex-flow: row wrap;
	justify-content: stretch;
	flex-grow: 1;
}

.menu .item{
	flex-grow: 1;
}

.nav .brand{
	flex-grow: 1;
}

.bar{
	display: flex;
	flex: 9;
}

.menubar{
	flex: 1;
	display: none;
}

.dashboard{
	display: flex;
	justify-content: center;
}

.user-info{
	align-items: center;
	text-align: center;
}

.userimg{
	width: 40%;
}

.login{
	display: flex;
	height: 100vh;
}



.input-holder{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.lg-h-div{
	width: 60%;
}

.inputDiv{
	margin: 5% 0;
}

.input-holder input{
	height: 35px;
	width: 100%;
	border-color: grey;
	border-radius: 5px;

}


.welcome{
	margin-bottom: 20px;
}

.text{
	width: 100%;
	position: relative;;
}

.text-overlay{
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
}

.submitbtn{
	width: 100%;
	height: 35px;
	margin: 5% 0;
	border-radius: 5px;
	border: none;
	background: #ff6852;
	color:white;
}

.btn{
	width: 80%;
	height: 50px;
	margin: 5% auto;
	border-radius: 5px;
	border: none;
	background: #ff6852;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
}

.separator{
	display: flex;
	align-items: center;
	text-align: center;
	width: 100%;
	margin: 5% 0;
}

.separator::before,.separator::after{
	content: '';
	flex: 1;
	border-bottom: 1px solid grey;
}

.separator:not(:empty)::before{
	margin-right: .25em;
}

.separator:not(:empty)::after{
	margin-left: .25em;
}

.sm{
	width: 40%;
	margin: 2.5%;
	height: 35px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	border: solid 1px grey;
	background: none;
}

.sm-holder{
	width: 100%;
	justify-content: center;
	display: flex;
}

.imgstyle{
	width: 100%;
	height: 100%;
}

.logostyleg{
	width: 30px;
}

.logostylef{
	width: 50px;
}

.unauthorize{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-holder{
	width: 100%;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img404{
width: 70%;
}

.write-up{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.userinfo-holder{
	display: flex;
	justify-content: center;
}

.user{
	text-align: center;
}

.userinfo{
	margin: 10px;
	background: #005c66;
	padding: 20px;
	border-radius: 5px;
	color: white;
}

.banner{
	position: relative;
	display: flex;
	justify-content: stretch;
}

.banner-overlay{
	position: absolute;
	background-color: rgba(0, 96, 103, 0.2);
	height: 100%;
	width: 100%;
	z-index: 10;
}

.home-write-up{
	flex: 1;
	padding-left: 20px;
	padding-top: 40px;
	z-index:100;
	display: flex;
	justify-content: center;
}

.home-img-holder{
	flex: 1;
	display: flex;
	justify-content: center;
}

.homeimg{
	width: 80%;
}

.btns{
	display: flex;
	justify-content: center;
}


@media(max-width: 991.98px){


}


@media(max-width: 795.98px){


	.text{
		display: none;
	}

	.text-overlay{

		display: none;

	}

	

}


@media(max-width: 575.98px){
	
	.banner{
		flex-direction: column;
	}

	.text{
		display: none;
	}

	.text-overlay{

		display: none;

	}
	

	.btn{
		margin:30px 10%;
		width: 80%;
	}

	.userinfo-holder{
		display: block;

	}


	.home-write-up{
		padding:10px;
		text-align: justify;
		padding-top: 0;
	}

	.nav{
		padding: 15px;
	}

	.bar{
		display: block;
	}

	.menubar{
		display: block;
	}

	.menu{
		display: block;
		overflow: hidden;
		height: 100px;
		transition: 1s;
	}
	
	.lg-h-div{
		width: 90%;
	}


	.home-write-up{
		margin-top: 20px;
	}

	.userimg{
		width: 60%;
	}
}